/* HEADER */

header {
  position: fixed;
  z-index: 20;
  top: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  .header-wrapper {
    display: flex;
    align-items: stretch;

    width: 100%;
    max-width: var(--max-width-section-mobile);
    height: 3.75rem;

    .header-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 27rem;

      gap: 3.25rem;

      border: 0.125rem solid white;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        img {
          margin-bottom: 0.188rem;
        }

        h1 {
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
          font-family: var(--font-unbound);
        }
      }

      span {
        display: none;
        font-size: 0.625rem;
        font-weight: 600;
        text-align: center;
        font-family: var(--font-unbound);
      }
    }

    .header-menus {
      display: none;

      flex: 1;
      flex-direction: column;
      justify-content: center;

      .header-menu-1,
      .header-menu-2 {
        flex: 1;
        display: flex;
      }

      .header-menu-1 ul,
      .header-menu-2 ul {
        flex: 1;
        display: flex;
        list-style: none;

        margin: 0;
        padding: 0;
      }

      .header-menu-1 ul li,
      .header-menu-2 ul li {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        line-height: 0;
      }

      .header-menu-1 ul {
        .item-1 {
          flex: 157;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-2 {
          flex: 248;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-3 {
          flex: 200;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-4 {
          flex: 155;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-5 {
          width: 4.25rem;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
      }

      .header-menu-2 ul {
        .item-1 {
          flex: 291;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-2 {
          flex: 208;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-3 {
          flex: 134;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-4 {
          flex: 192;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
      }

      .header-menu-1 ul li a,
      .header-menu-2 ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  .header-menu-button {
    border-top: 0.125rem solid white;
    border-right: 0.125rem solid white;
    border-bottom: 0.125rem solid white;

    button {
      height: 100%;
      width: 7rem;

      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  .header-menu-mobile {
    position: absolute;
    display: flex;
    top: 5rem;
    visibility: hidden;
    pointer-events: none;

    max-width: var(--max-width-section-mobile);
    width: 100%;

    opacity: 0;
    transform: translateY(-1.25rem);
    transition: all 0.3s ease;

    &.active {
      visibility: visible;
      pointer-events: auto;

      opacity: 1;
      transform: translateY(0);
    }

    ul {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      list-style: none;

      margin: 0;
      padding: 0;

      border: 0.125rem solid white;

      li {
        width: 100%;
        border-bottom: 0.125rem solid white;

        text-align: center;

        a {
          display: block;
          width: 100%;
          padding: 1rem 0;
          font-size: 0.75rem;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.header-menu-overflow {
  position: fixed;
  z-index: 19;
  top: 0;
  visibility: hidden;
  pointer-events: none;

  height: 100svh;
  width: 100svw;

  background-color: #111111;

  opacity: 0;
  transition: opacity 0.3s ease;

  &.active {
    visibility: visible;
    pointer-events: auto;

    opacity: 1;
  }
}

/* SECTION */

#section-01 {
  .section-bg {
    div {
      background-image: url("../images/bg_section_01_mobile.jpg");
    }
  }
  .section-content > .section-content-01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: calc(100% - 11.25rem);

    padding-top: 8.75rem;
    padding-bottom: 3.625rem;

    .section-content-01-intro {
      .section-content-01-badge {
        display: flex;
        justify-content: end;
        align-items: center;

        margin-bottom: 15%;
        gap: 0.5rem;

        p {
          font-size: 2rem;
          font-weight: 200;
          font-family: var(--font-unbound);
        }

        span {
          width: 5rem;
          font-size: 0.75rem;
        }
      }

      .section-content-01-heading {
        position: relative;

        img {
          position: absolute;
          left: 11.25rem;
          width: 5rem;
        }

        h2 {
          margin-bottom: 0.5rem;

          font-size: 2rem;
          font-weight: 300;
          font-family: var(--font-unbound);
        }

        p {
          font-size: 0.75rem;
          font-family: var(--font-unbound);
        }
      }
    }

    .section-content-01-description {
      padding-top: 1rem;

      p {
        width: 13.5rem;
        padding-top: 0.375rem;
        font-size: 0.875rem;
      }
    }
  }

  .section-01-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 11.25rem;

    background: color-mix(in srgb, var(--color-bg) 30%, transparent);

    nav {
      width: 100%;
      max-width: var(--max-width-section-mobile);

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: stretch;

        row-gap: 2rem;
        column-gap: 2.9375rem;

        li {
          display: flex;
          flex-direction: column;

          width: fit-content;

          a {
            padding-bottom: 0.4375rem;

            font-family: var(--font-unbound);
            font-size: 0.75rem;
          }

          span {
            height: 0.125rem;
            width: 100%;

            background-color: white;
          }

          &:nth-child(3),
          &:nth-child(4) {
            grid-row-start: 2;
          }
        }
      }
    }
  }
}

#section-02 {
  .section-content {
    min-height: 0;
    height: fit-content;

    .section-content-02 {
      padding-top: 4rem;

      .section-content-02-stars {
        margin-bottom: 1rem;

        img {
          &:nth-child(2),
          &:nth-child(3) {
            margin-left: -0.625rem;
          }
        }
      }

      .section-content-02-intro {
        font-size: 0.875rem;
      }

      .section-content-02-heading {
        margin: 4rem 0;

        p {
          font-size: 0.75rem;
        }

        h2 {
          width: 21.25rem;
          margin-top: 1.5rem;

          font-size: 2rem;
          font-family: var(--font-unbound);
          font-weight: 300;
        }

        img {
          position: absolute;
          left: 5rem;
          width: 6.875rem;
        }
      }

      .section-content-02-description {
        font-size: 0.875rem;
      }

      .section-content-02-since {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;

        width: 15rem;
        height: 17.25rem;

        background-color: #202020;

        img {
          margin-bottom: 1.875rem;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

#section-03 {
  .section-content {
    min-height: fit-content;

    .section-content-03 {
      padding-top: 5.25rem;

      div {
        position: relative;
        overflow: hidden;

        height: 11.25rem;

        .section-content-03-bg {
          position: absolute;
          top: 0;

          width: 100%;
          height: 100%;

          object-fit: cover;
          scale: 1.1;
        }

        &:nth-child(1) {
          .section-content-03-bg {
            background-image: url("/images/bg_section_03_mobile_01.jpg");
          }
        }
        &:nth-child(2) {
          .section-content-03-bg {
            background-image: url("/images/bg_section_03_mobile_02.jpg");
          }
        }
        &:nth-child(3) {
          .section-content-03-bg {
            background-image: url("/images/bg_section_03_mobile_03.jpg");
          }
        }
        &:nth-child(4) {
          .section-content-03-bg {
            background-image: url("/images/bg_section_03_mobile_04.jpg");
          }
        }

        .section-content-03-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          padding: 1.75rem 1.5rem;

          span {
            font-size: 2rem;
            font-weight: 300;
            font-family: var(--font-unbound);
          }

          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

#section-04 {
  .section-content {
    min-height: fit-content;

    .section-content-04 {
      position: relative;

      margin-top: 4.75rem;
      margin-bottom: 4.375rem;

      .section-content-04-heading {
        margin-bottom: 3.375rem;

        span {
          display: block;

          margin-bottom: 1.5rem;

          font-size: 0.875rem;
        }

        h2 {
          font-size: 2rem;
          font-weight: 300;
          font-family: var(--font-unbound);
        }

        img {
          width: 12.5rem;
        }
      }

      .section-content-04-body {
        div {
          .section-content-04-tab {
            border: 0.125rem solid white;

            .tab-trigger {
              overflow: hidden;
              display: flex;

              width: 100%;

              border-bottom: 0.125rem solid white;

              div {
                flex: 1;
                border-right: 0.125rem solid white;

                &:last-child {
                  border: none;
                }

                button {
                  width: 100%;
                  padding: 1.25rem;

                  font-family: var(--font-unbound);
                  text-align: center;

                  opacity: 0.5;
                }

                .tab-btn.active {
                  opacity: 1;
                }
              }
            }

            .tab-content {
              display: none;
              padding: 1rem;

              img {
                margin-bottom: 0.75rem;
              }

              div {
                p {
                  &:nth-child(1) {
                    width: 11.375rem;
                    margin-bottom: 1.5rem;
                  }
                }
              }
            }
            .tab-content.active {
              display: block;
            }
          }

          div {
            font-size: 0.875rem;
          }

          .section-content-04-description-01 {
            margin-bottom: 2.5rem;
          }

          .section-content-04-description-02 {
            margin-top: 6rem;
          }

          .section-content-04-description-03 {
            display: none;
          }
        }
      }
    }

    .section-content-04 > img {
      position: absolute;
      bottom: 14.6875rem;
    }
  }
}

#section-05,
#section-05-02 {
  .section-bg {
    div {
      background-position: 35% 100%;
    }
  }

  .section-content {
    min-height: fit-content;
    .section-content-05 {
      position: relative;

      .section-content-05-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: 70svh;

        padding: 3.25rem 0;

        .section-content-05-tags {
          display: flex;

          font-size: 0.75rem;

          span {
            display: block;
            flex: 1;

            &:nth-child(3) {
              display: none;
            }
          }
        }
        .section-content-05-heading {
          position: relative;

          img {
            position: absolute;
            top: 5.625rem;
          }

          div {
            &:nth-child(1) {
              h2 {
                margin-bottom: 3rem;

                font-size: 2rem;
                font-weight: 300;
                font-family: var(--font-unbound);
              }
            }

            &:nth-child(3) {
              p {
                max-width: 15.5rem;

                font-size: 0.875rem;
              }
            }
          }
        }
      }

      .section-content-05-body {
        display: grid;

        min-height: 30svh;

        gap: 1.25rem;
        padding-top: 3.75rem;

        font-size: 0.875rem;

        p {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

#section-06 {
  .section-content {
    min-height: fit-content;
    .section-content-06 {
      .section-content-06-header {
        position: relative;

        margin-top: 6.25rem;
        margin-bottom: 1.875rem;

        h2 {
          max-width: 16.5625rem;

          font-size: 2rem;
          font-family: var(--font-unbound);
          font-weight: 300;
        }

        img {
          position: absolute;
          top: -0.625rem;
        }
      }

      .carousel {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto;

        gap: 1.875rem;

        .slick-list {
          grid-column: span 3 / span 3;
          grid-column-start: 1;
          grid-row-start: 1;

          .slick-track {
            .slick-slide {
              display: grid;
              grid-template-rows: repeat(2, 16.875rem);

              background-color: red;

              div {
                display: flex;
                flex-direction: column;
                justify-content: end;

                padding: 1rem;

                span {
                  flex: 1;

                  font-size: 0.75rem;
                }

                h3 {
                  margin-bottom: 1.5rem;

                  font-size: 2rem;
                  font-weight: 300;
                  font-family: var(--font-unbound);
                }

                p {
                  font-size: 0.875rem;
                }
              }
            }
          }
        }

        .slick-prev {
          display: none !important;
          grid-column-start: 1;
          grid-row-start: 2;
          justify-self: end;

          width: 2.5rem;
          height: 2.5rem;

          background-image: url("../images/btn_prev.png");

          font-size: 0;
        }

        .slick-next {
          display: none !important;
          grid-column-start: 3;
          grid-row-start: 2;
          justify-self: start;

          width: 2.5rem;
          height: 2.5rem;

          background-image: url("../images/btn_next.png");

          font-size: 0;
        }

        .slick-dots {
          grid-column-start: 2;
          grid-row-start: 2;
          display: flex;

          gap: 1rem;
          padding: 0 1rem;

          li {
            width: 0.9375rem;
            height: 0.9375rem;

            background-color: #d9d9d9;
            border-radius: 100%;

            transition: opacity 0.2s;

            button {
              font-size: 0;
            }
          }

          li:hover {
            transition: opacity 0.2s;
            opacity: 0.5;
          }

          .slick-active {
            background-color: #e28224;
          }
        }
      }
    }
  }
}

/* Footer */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;

  width: 100%;

  .footer-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: var(--max-width-section-mobile);

    margin-top: 4.125rem;
    margin-bottom: 1.5rem;

    .footer-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.625rem 0;
      gap: 1.375rem;

      border: 0.125rem solid white;

      div {
        display: flex;
        align-items: center;

        max-width: fit-content;

        gap: 0.5rem;

        img {
          margin-bottom: 0.188rem;
        }

        h1 {
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
          font-family: var(--font-unbound);
        }
      }

      span {
        font-size: 0.375rem;
        font-weight: 600;
        text-align: center;
        font-family: var(--font-unbound);
      }
    }

    .footer-menus {
      display: none;

      flex: 1;
      flex-direction: column;
      justify-content: center;

      .footer-menu-1,
      .footer-menu-2 {
        flex: 1;
        display: flex;
      }

      .footer-menu-1 ul,
      .footer-menu-2 ul {
        flex: 1;
        display: flex;
        list-style: none;

        margin: 0;
        padding: 0;
      }

      .footer-menu-1 ul li,
      .footer-menu-2 ul li {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        line-height: 0;
      }

      .footer-menu-1 ul {
        .item-1 {
          flex: 157;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-2 {
          flex: 248;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-3 {
          flex: 200;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-4 {
          flex: 155;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-5 {
          width: 4.25rem;
          border-top: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
      }

      .footer-menu-2 ul {
        .item-1 {
          flex: 291;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-2 {
          flex: 208;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-3 {
          flex: 134;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
        .item-4 {
          flex: 192;
          border-top: 0.125rem solid white;
          border-bottom: 0.125rem solid white;
          border-right: 0.125rem solid white;
        }
      }

      .footer-menu-1 ul li a,
      .footer-menu-2 ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    .footer-menus-02 {
      ul {
        display: flex;

        border-left: 0.125rem solid white;
        border-right: 0.125rem solid white;
        border-bottom: 0.125rem solid white;

        li {
          font-size: 0.75rem;
          font-weight: 500;

          &:nth-child(1) {
            flex: 1;
            border-right: 0.125rem solid white;
          }

          &:nth-child(2) {
            flex: 2;
          }

          a {
            display: block;
            padding: 1.125rem 0;
            text-align: center;
          }
        }
      }
    }
  }
}
